@import "../../variables";

.header {
  width: auto;
  min-height: 10vh;
  padding: 2em;

  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;

  &__utility-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  &__auth-buttons {
    justify-self: end;
  }

  &__username {
    justify-self: end;
  }

  &__text {
    font-size: 2em;
    color: $afra-dark;
  }

  &__logo {
    max-height: 5vmin;
    justify-self: center;
  }
}
