@import "../variables";

.header {
  width: auto;
  min-height: 10vh;
  padding: 2em;

  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 2em;
    color: $afra-dark;
  }

  &__logo {
    max-height: 5vmin;
  }
}
