@import "../../variables";

.item-list {
  position: relative;
  max-width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;

  &__title {
    align-self: start;
  }
}
